/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/* Body Styles */
body {
    font-family: 'OpenDyslexic', Arial, sans-serif;
    color: rgb(231, 29, 29);
    text-align: center;
    background-image: url('images/back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    opacity: 1;
    overflow: hidden;
}

/* Font Import */
@font-face {
    font-family: 'OpenDyslexic';
    src: url('fonts/OpenDyslexic-Regular.woff') format('truetype');
}

/* Animation Classes */
.slide-out-to-main {
    animation: slideOutToMain 0.6s ease-in-out forwards;
}

body.slide-out-up {
    animation: slideOutUp 0.6s forwards;
}

body.slide-out-down {
    animation: slideOutDown 0.6s forwards;
}

body.slide-out-left {
    animation: slideOutLeft 0.6s forwards;
}

body.slide-out-right {
    animation: slideOutRight 0.6s forwards;
}

body.slide-in-from-bottom {
    animation: slideInFromBottom 0.6s ease-out forwards;
}

body.slide-in-from-top {
    animation: slideInFromTop 0.6s ease-out forwards;
}

body.slide-in-from-left {
    animation: slideInFromLeft 0.6s ease-out forwards;
}

body.slide-in-from-right {
    animation: slideInFromRight 0.6s ease-out forwards;
}

body.fade-in {
    animation: fadeInAnimation 1.5s ease-in forwards;
}

/* Keyframes for Animations */
@keyframes slideOutToMain {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes slideOutUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes slideOutDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}

@keyframes slideOutLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes slideOutRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInImage {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInMessage {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInLater {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Header and Footer Styles */
header {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(40, 230, 182);
    padding: 1rem;
    text-align: center;
    width: 100%;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(40, 230, 182);
    text-align: center;
    padding: 1rem;
    width: 100%;
}

/* Main Section Styles */
main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

/* Arrow Button Styles */
.arrow-btn {
    position: fixed;
    background-color: rgba(78, 76, 174, 0.8);
    color: rgb(161, 137, 228);
    padding: 10px;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.arrow-btn:hover {
    background-color: rgb(176, 50, 226);
}

/* Arrow Button Positions */
#up-arrow {
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#left-arrow {
    left: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    padding-left: 10px;
}

#right-arrow {
    right: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    padding-left: 10px;
}

#down-arrow {
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#back-arrow {
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 10px;
}

#third-arrow {
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#hehe-arrow {
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#wee-arrow {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
}

/* Page Styles */
.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    transition: transform 0.6s ease-in-out;
}

.page.active {
    transform: translateX(-100%);
}

.page.slide-in-left {
    animation: slideInLeft 0.6s forwards;
}

.page.slide-out-left {
    animation: slideOutLeft 0.6s forwards;
}

.page.slide-in-right {
    animation: slideInRight 0.6s forwards;
}

.page.slide-out-right {
    animation: slideOutRight 0.6s forwards;
}

/* Main Page Styles */
#main-page {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 1;
    transition: opacity 2s ease-in-out;
}

/* Fade Styles */
.fade {
    position: absolute;
    color: rgb(169, 55, 184);
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: fadeInImage 3s forwards ease-in-out;
}

.fade-in-message {
    position: relative;
    text-align: center;
    color: rgb(255, 251, 0);
    z-index: 1;
    opacity: 0;
    animation: fadeInMessage 5s forwards;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 10px;
    display: inline-block;
    transform: translate(20px, -300px);
}

/* Gradient Box Styles */
.gradient-box {
    background: linear-gradient(to right, rgba(16, 157, 192, 0.7), rgba(0, 0, 255, 0.7));
    padding: 20px;
    border-radius: 15px;
    display: inline-block;
    color: white;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, rgba(209, 142, 142, 0.7), rgba(0, 0, 255, 0.7));
}

/* Canvas Styles */
canvas {
    background-color: #1e1e1e;
    display: block;
    margin: 0 auto;
    border: 1px solid #000;
}
