/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #0a0d12;
    color: rgb(40, 230, 182);
    padding: 1rem;
    text-align: center;
}

body {

    text-align: center;
    font-family: Arial, sans-serif;
    background-color: rgba(16, 21, 25);
    color: rgb(40, 230, 182);
    line-height: 1.6;
}

main {
    padding: 2rem;
}

footer {
    background-color: #0a0d12;
    color: rgb(40, 230, 182);
    text-align: center;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#content {
    margin-top: 2rem;
}

h1 {
    font-size: 2.5rem;
}

p {
    font-size: 1.2rem;
}

h2 {
    color: #4CAF50;
    margin-bottom: 1rem;
}

form {
    margin-top: 1rem;
}

input[type="text"],
input[type="email"] {
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 400px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Style for the profile image */
#profile-img {
    max-width: 1000px;  /* Adjust the size */
    display: block;
    margin: 2rem auto;  /* Centers the image */
}

/* Style for the "Next" button */
#next-button {
    background-color: rgb(76, 174, 79);
    color: white;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#next-button:hover {
    color: rgb(207, 43, 38);
}
